body, html {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

#main_layout {
	position: absolute;
	width: 100%;
	height: 100%;
}

#layout_layout_panel_left > .w2ui-panel-content {
    border-right: 1px solid silver;
}

#layout_editor_panel_main > .w2ui-panel-content {
    background-color: #002240;
    padding: 1em;
}

#layout_editor_panel_right > .w2ui-panel-content {
    background-color: white;
}

.CodeMirror {
    height: 100% !important;
}

#preview_container {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 1em 2em;
    overflow: scroll;
}

#preview {
    font: 300 0.95em/1.5 Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #444;
}

#render {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
