.cm-s-pelicide.CodeMirror { background: #002240; color: #ccc; font-family: Inconsolata; }
.cm-s-pelicide div.CodeMirror-selected { background: #b36539 !important; }
.cm-s-pelicide.CodeMirror ::selection { background: rgba(179, 101, 57, .99); }
.cm-s-pelicide.CodeMirror ::-moz-selection { background: rgba(179, 101, 57, .99); }
.cm-s-pelicide .CodeMirror-gutters { background: #002240; border-right: 1px solid #aaa; }
.cm-s-pelicide .CodeMirror-guttermarker { color: #ffee80; }
.cm-s-pelicide .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-pelicide .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-pelicide .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-pelicide span.cm-comment { color: #08f; }
.cm-s-pelicide span.cm-atom { color: #845dc4; }
.cm-s-pelicide span.cm-number, .cm-s-pelicide span.cm-attribute { color: #ff80e1; }
.cm-s-pelicide span.cm-keyword { color: #ffee80; }
.cm-s-pelicide span.cm-string { color: #3ad900; }
.cm-s-pelicide span.cm-meta { color: #ff9d00; }
.cm-s-pelicide span.cm-variable-2, .cm-s-pelicide span.cm-tag { color: #9effff; }
.cm-s-pelicide span.cm-variable-3, .cm-s-pelicide span.cm-def { color: white; }
.cm-s-pelicide span.cm-bracket { color: #d8d8d8; }
.cm-s-pelicide span.cm-builtin, .cm-s-pelicide span.cm-special { color: #ff9e59; }
.cm-s-pelicide span.cm-link { color: #845dc4; }
.cm-s-pelicide span.cm-error { color: #9d1e15; }

.cm-s-pelicide .CodeMirror-activeline-background {background: #002D57 !important;}
.cm-s-pelicide .CodeMirror-matchingbracket {outline:1px solid grey;color:white !important}

.cm-s-pelicide span.cm-header-1 { font-size: xx-large; }
.cm-s-pelicide span.cm-header-2 { font-size: x-large; }
.cm-s-pelicide span.cm-header-3 { font-size: large; }
.cm-s-pelicide span.cm-header-4 { font-size: medium; }
.cm-s-pelicide span.cm-header-5 { font-size: small; }
.cm-s-pelicide span.cm-header-6 { font-size: smaller; }
